{% extends 'index.html' %}

{% block page_content %}
    <h1>Nicholas Gorden</h1>
    <p>Welcome and thank you for visiting. Let's jump right in:</p>
    <h2>About Me</h2>
    <p>
        I am a software engineer based in Southern California, looking to grow my network and get involved in new
        projects. My hobbies include shell scripting, C programming, video games, board games, aviation, and
        meteorology.
    </p>
    <h3>Experiences</h3>
    <p>All of the following was/is developed using the .NET Core Framework:</p>
    <ul>
        <li>
            Designed and implemented full stack inventory management system for a small pharmacy based in Pilane,
            Botswana. (mentioned in&nbsp;
            <a href="https://jamaica-gleaner.com/article/news/20200112/health-tech-digital-pharmacies-way-future">
                this</a>
            article)
        </li>
        <li>Implemented groundwork of custom translation for a single page React App. (not open to public)</li>
        <li>
            Currently implementing TCP communications between fleets of medical devices and a central server. (not open
            to public)
        </li>
    </ul>
    <h2>About this App</h2>
    <p>
        The goal in having this webpage is to centralize my professional portfolio. As time goes on, I'm noticing there
        is more to keep track of, such as personal projects, my resume, my skill sets, etc. I want to be able to point
        friends and professional contacts to one simple, unobtrusive point on the internet.
    </p>
    <h3>Technical Details</h3>
    <p>
        I built this page using the Python flask web framework. Even though I do not like using or having anything to do
        with Python, I decided to use it to be able to keep resource consumption very low on the cloud server.
    </p>

    <p>The styles for these pages are inspired by <a href="https://noxz.tech/">Chris Noxz's site</a>.</p>
{% endblock %}